.venv/
__pycache__/
.env
.python-version
images/*
!images/.gitkeep
page_html/*
!page_html/.gitkeep


.DS_Store
*.pyc
build
__pycache__
unused_code
nginx_secrets
# Ignoring this since not everyone opens vscode at this level
.vscode

